header
  overflow: hidden
  margin-top: 10px
  nav
    li
      float: left
      a
        margin: 20px 5px
        display: block
        font-weight: bold
        color: $white
        padding: 0px 7px
        +border-radius(2px)
        +make-transition
        &:hover
          color: $black
          background-color: $white
        &#logo
          margin: 10px 10px 0 10px
          display: block
          width: 40px
          height: 40px
          background: transparent url(/assets/images/icons/goruco.png) center center no-repeat
          background-size: 24px 25px
          text-indent: -99999px
          +border-radius(400px)
          +make-transition
          &:hover
            background-color: $white
  ul#menu
    float: right
    color: $white
    @include media($compact)
      text-align: left
      float: left
      margin-left: 20px

