.slicknav_menu {
  display:none;
}
  span#home {
    display: none;
  }

@media screen and (max-width: 500px) {
  #menu {
    display:none;
  }

  .slicknav_menu {
    display:block;
    background: #fff;
  }
  .slicknav_menu a {
    color: $red;
    text-align: left;
  }
  .slicknav_btn {
    float: left;
  }

  #date {
    padding-right: 10px;
  }

  span#home {
    display: block;
  }
}

