section
  @include span-columns(12)
  // border-left: 1px solid $line
  // border-right: 1px solid $line
section.news, section.about
  border-bottom: 1px solid $line
section.news
  padding-bottom: 20px

section.location
  .conference, .boat
    p
      text-align: center
      em
        font-style: italic
        color: $gray
  .conference
    @include span-columns(6)
  .boat
    @include span-columns(6)
    @include omega

section.conduct
  background-color: $purple
  padding: 10px 0
  span.icon-conduct
    color: $lightpurple
    float: left
    font-size: 80px
    line-height: 90px
    margin: 0 20px
  h4, p
    font-size: 17px
    line-height: 20px
    color: $lightpurple
    margin: 0 30px
  h4
    margin-top: 25px
  a
    color: $lightpurple
    text-decoration: underline
    &:hover
      color: $white
      text-decoration: none

section.brief
  border-bottom: 1px solid $line
