section
  @include span-columns(12)
section.news, section.about
  border-bottom: 1px solid $line
section.sponsorgrid
  border-top: 1px solid $line
section.news
  padding-bottom: 20px

section.news,
  background-color: $white
  h1, h2, h3, h4, h5, p
    color: $black

section.info
  background-color: $blacker
  h1, h2, h3, h4, h5, p
    color: $white

section.past-speakers
  background-color: $white
  h1, h2, h3, h4, h5, p
    color: $black
  .talks-sidebar
    @include span-columns(4)
    @include media($compact)
      @include span-columns(1)
  .talks-panel
    @include span-columns(8)
    @include media($compact)
      @include span-columns(1)

section.brief
  background-color: transparent
  margin-top: 140px
  margin-bottom: 200px
  @include media($small)
    margin-top: 40px
    margin-bottom: 50px
  @include media($compact)
    margin-top: 0px
    margin-bottom: 0px
  input[type=email]
    background: transparent
    border: 1px solid $lightpurple
    border-radius: 3px
    display: inline-block
    width: 300px
    color: $white
    @include media($compact)
      width: 250px
  input[type=submit]
    display: inline-block
    background-color: $red
    background-image: none
    text-shadow: none
    box-shadow: none
    color: $white
    border: none
    border-radius: 3px
    padding: 9px 18px
    margin: 0px 0px 5px 10px
    &:active, &:hover, &:focus
      background-color: $red
      background-image: none
      text-shadow: none
      box-shadow: none
      color: $white
  .signup-form
    margin: 20px 30px

section.organizers
  background-color: $blacker
  h1, h2, h3, h4, h5, p
    color: $white
  li.block
    @include span-columns(4)
    @include omega()
    min-width: 380px
    padding: 20px
    h4, h5
      margin-bottom: 0px
    a
      float: left
    img
      float: left
      border-radius: 50px
      padding: 5px

section.footer
  background-color: $red
  color: $white
  .copyright
    @include span-columns(6)
  .info
    @include span-columns(6)
    float: right
    vertical-align: middle
    text-align: center
    line-height: 60px
    a
      color: $white
      &:hover
        color: $white


section.list_index
  padding-bottom: 60px
  li
    margin: 20px 0
  h2
    margin: 0px 30px
  p
    margin: 0px 30px

section.speaker_homepage
  border-top: 1px solid $line
  margin-bottom: 20px
  .speaker_container
    margin: 0 30px
  .speaker_block
    float: left
    margin: 10px
    width: 75px
    height: 110px
    p
      font-size: 12px
      line-height: 15px
      text-align: center
      margin: 0
    a img
      border: 3px solid $white
      +make-transition
      &:hover
        border: 3px solid $red

  img
    +border-radius(400px)
    margin: 0 0 5px 0


