section
  @include span-columns(12)

section.info, section.sponsorship
  background-color: $white
  h1, h2, h3, h4, h5, p
    color: $black

section.past-speakers
  background-color: $white
  h1, h2, h3, h4, h5, p
    color: $black
  .talks-sidebar
    @include span-columns(4)
    @include media($compact)
      @include span-columns(1)
  .talks-panel
    @include span-columns(8)
    @include media($compact)
      @include span-columns(1)

section.organizers
  background-color: $blacker
  h1, h2, h3, h4, h5, p
    color: $white
  li.block
    @include span-columns(4)
    @include omega()
    min-width: 380px
    padding: 20px
    h4, h5
      margin-bottom: 0px
    a
      float: left
    img
      float: left
      border-radius: 50px
      padding: 5px

section.footer
  background-color: $red
  color: $white
  .copyright
    @include span-columns(6)
  .info
    @include span-columns(6)
    float: right
    vertical-align: middle
    text-align: center
    line-height: 60px
    a
      color: $white
      &:hover
        color: $white


section.list_index
  padding-bottom: 60px
  li
    margin: 20px 0
  h2
    margin: 0px 30px
  p
    margin: 0px 30px

section.speaker_homepage
  border-top: 1px solid $line
  margin-bottom: 20px
  .speaker_container
    margin: 0 30px
  .speaker_block
    float: left
    margin: 10px
    width: 75px
    height: 110px
    p
      font-size: 12px
      line-height: 15px
      text-align: center
      margin: 0
    a img
      border: 3px solid $white
      +make-transition
      &:hover
        border: 3px solid $red

  img
    +border-radius(400px)
    margin: 0 0 5px 0


