body
  border: 20px solid #fff
  @include background(url("/assets/images/bg/nycblend-narrow.jpg"), url("/assets/images/bg/slice.jpg"))
  background-position: center 20px, center top
  background-repeat: no-repeat, repeat-y
  background-color: #e4e4e4
  // background: #e4e4e4 url(/assets/images/bg/nycblend.jpg) center 20px no-repeat
  // background: url(/assets/images/bg/slice.jpg) center top repeat-y
  margin: 0 auto
  // background: #eceef2
  // padding: 0 20px

.container
  @include outer-container

.frame
  background: #fff
  +border-radius(2px)
  overflow: hidden
  min-height: 800px

section
  overflow: hidden

img
  display: block
