body
  // background: #eceef2 url(/assets/images/bg/nyc.jpg) center top no-repeat
  background: #eceef2
  // padding: 0 20px

.container
  @include outer-container

.frame
  background: #fff
  +border-radius(2px)
  overflow: hidden

section
  overflow: hidden
