body, h1, h2, h3, h4, h5, p
  color: $black
  font-family: "proxima-nova",sans-serif

h1, h2, h3, h4, h5, p
  margin: 20px 30px
h1
  font-size: 72px
  line-height: 80px
  font-weight: 300
  margin: 20px 30px
  @include media($compact)
    font-size: 60px
    line-height: 65px
h2
  font-size: 28px
  line-height: 30px
  font-weight: 300
  margin: 20px 30px

p
  font-size: 17px
  line-height: 20px
  font-weight: 400
  margin: 20px 30px

a
  color: $red
