.pg-home-hero-wrap
  @include background(url("/assets/images/bg/hero.png"))
  background-size: cover
  text-align: center

.pg-home-hero
  padding: $pg-home-hero-padding 0
  margin-bottom: $space*4
  border-bottom: $border-style-thick $color-accent

  @media #{$mq-med}
    margin-top: $g-header-height * -1
    padding: $pg-home-hero-padding+$g-header-height 0 $pg-home-hero-padding

.pg-home-submit
  width: 22rem
