.mod-section
  @include clearfix()
  padding-bottom: $space*10
  margin-bottom: $space*4
  border-bottom: 2px solid $color-accent

.mod-organizer-info
  display: inline-block
  vertical-align: middle
  padding-left: $space
