section.breadcrumbs
  border-bottom: 1px solid $line
  ul
    li
      margin: 15px 30px
      float: left
      a
        color: $gray
        padding: 3px 5px
        +border-radius(2px)
        +make-transition
        &:hover
          background: $gray
          color: $white
