section.post
  padding-bottom: 60px
  h1
    font-size: 50px
    line-height: 60px
  p.meta
    color: $gray
    font-size: 14px
    margin: 0 30px
  h4
    font-size: 17px

    font-weight: 600

section.speaker_detail
  header
    img
      +border-radius(400px)
      float: left
      margin-right: 20px
    h2
      padding-top: 10px
      margin: 0
    a
      margin-right: 20px
    .personal
      margin: 0 30px 60px 30px
